<a href="https://colab.research.google.com/github/Bharadwajshinde/Bharadwajshinde/blob/main/Exercise_1FDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A=input("Enter your weight in kgs ")
print ("My weight is",A, "kgs")

Enter your weight in kgs 85
My weight is 85 kgs

In [ ]:
Weight=input("Enter your weight in kgs ")
print ("My weight is",Weight, "kgs")

u=input("What is your preffered unit of height F/M ")
if u == 'F':
  A=input("Enter your height in Feet ")
  B=input("Enter your height in Inch ")
  BMI=int(Weight)/((int(A)*0.3048)+(float(B)/39.3701))**2
else:
  C=input("Enter your height in Meter ")
  D=input("Enter your height in CM ")
  BMI=int(Weight)/((float(C))+(float(D)/100))**2

if BMI <= 18:
  print("Your BMI is ",BMI," you fall into underweight category")
elif BMI > 18 and BMI <= 25:
  print("Your BMI is ",BMI," you fall into normal category")
elif BMI > 25 and BMI <= 30:
  print("Your BMI is ",BMI," you fall into overweight category")
else:
  print("Your BMI is ",BMI," you fall into obese category")

Enter your weight in kgs 85
My weight is 85 kgs
What is your preffered unit of height F/M F
Enter your height in Feet 5
Enter your height in Inch 11
Your BMI is  26.135744008230816  you fall into overweight category

Write an iterative function to compute factorial of natural number.

In [ ]:
def factorial_iterative(n):
    if n < 0:
        return None  # Factorial is not defined for negative numbers
    result = 1
    for i in range(1, n + 1):
        result = result*i
    return result

factorial_iterative(4)

24

Write a recursive function to compute factorial of natural number.

In [ ]:
def factorial_recursive(n):
    if n < 0:
        return None
    elif n == 0:
        return 1
    else:
        return n * factorial_recursive(n-1) #recurring till limit
factorial_recursive(4)

24

Write a function to compute x**n/n! where given x and natural number n as argument

In [ ]:
def fact_iterative(n):
  if n<0:
    return None
  result=1
  for i in range(1,n+1):
    result=result*i
  return result

def calculate_product(x,n):
    number=x**n/fact_iterative(n)
    return number

calculate_product(5,5)

26.041666666666668

Write a function to to iteratively sum up x**n/n! where from n=1 to given N,for a given x.

In [ ]:
def fact_iterative(n):
  if n<0:
    return None
  result=1
  for i in range(1,n+1):
    result=result*i
  return result

def iterative_sum(x,n):
    number=x**n/fact_iterative(n)
    total=1
    for i in range(1,n+1):
      total=total+number
    return total

calculate_sum(5,5)

131.20833333333334

Write a function to to iteratively sum up x**n/n! where from n=1 to given N,such that F(x,N')-F(x,N'-1)< ε. For given real number x and and positive small number ε.

In [ ]:
def fact_iterative(n):
  if n<0:
    return None
  result=1
  for i in range(1,n+1):
    result=result*i
  return result


def epsilon_func(x,epsilon):
  prev_sum=0
  current_sum=x
  n=1
  while abs(current_sum-prev_sum)>= epsilon:
    prev_sum=current_sum
    n=n+1
    term=(x**n/fact_iterative(n))
    current_sum=current_sum+term
  return current_sum

epsilon_func(5,0.0024)

147.41235524670316

Choose two real numbers p & q and compute the following two values v1=F(p,100)*F(q,100) v2= F(p+q,100)
find v1-v2

In [ ]:
def fact_iterative(n):
  if n<0:
    return None
  result=1
  for i in range(1,n+1):
    result=result*i
  return result

def iterative_sum(x,n):
    number=x**n/fact_iterative(n)
    total=1
    for i in range(1,n+1):
      total=total+number
    return total

def variance_func(p,q):
  v1=iterative_sum(p,100)*iterative_sum(q,100)
  v2=iterative_sum(p+q,100)
  variance= v1-v2
  return variance

variance_func(5,7)

0.0